<nav class="navbar navbar-expand" *ngIf="account">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Angular Auth</a>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
      <li class="nav-item" *ngIf="account.role === 'Admin'">
        <a class="nav-link" routerLink="/admin">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link logout-btn" (click)="logout()" style="cursor: pointer;">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet name="subnav"></router-outlet>

<app-alert></app-alert>

<div class="container">
  <router-outlet></router-outlet>
</div>