<div class="card">
  <h4 class="card-header">Profile</h4>
  <div class="card-body">
    <div *ngIf="account">
      <div><strong>Title:</strong> {{account.title}}</div>
      <div><strong>First Name:</strong> {{account.firstName}}</div>
      <div><strong>Last Name:</strong> {{account.lastName}}</div>
      <div><strong>Email:</strong> {{account.email}}</div>
      <div><strong>Role:</strong> {{account.role}}</div>
      <div><strong>Verified:</strong> {{account.isVerified ? 'Yes' : 'No'}}</div>
      <a routerLink="update" class="btn btn-primary mt-3">Update Profile</a>
    </div>
  </div>
</div>